<html>
    <head>
        <title>
            new page

        </title>
           </head>
    <body>
        <h1>This is New page </h1>
        
        <% for (var i=0; i<samsung.length;i++){ %>
          <li><%= samsung[i] %></li>
        <% } %>
        
           
        
        
    </body>
</html>